
.mapContainer {

  margin: auto;

  border: 3px solid green;
  padding: 10px;
  height: 600px;
}
.sidebarStyle {
  display: inline-block;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #ffffff;
  color: #000000;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

 .mapContainer2{
  border: 3px solid green;
 }